.contentBox {
  padding: 20px 20px 20px 20px !important;
  padding-top: 60px !important;
  height: 100% !important;
  margin-top: 0px !important;
  box-sizing: border-box !important; }

button i {
  background: none !important;
  background-color: none !important; }

.button i {
  background: none !important;
  background-color: none !important; }

.ui.labeled.icon.button {
  padding-left: 10px !important; }

.sali-container {
  max-width: 1020px !important;
  min-width: 600px !important;
  margin: 0 auto !important;
  border-radius: 4px !important;
  background-color: white !important;
  box-shadow: 0 0 20px -10px #FAFAFA; }

.sali-header {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: relative;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  height: 100px;
  /* background-color: #FAFAFA; */
  background-color: 1px solid #D4D4D5;
  color: BLACK; }

.sali-header-content {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  height: 100px;
  width: 100%;
  z-index: 1 !important;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: #A52222; } */
}

.sali-header i {
  display: inline-block !important;
  margin-left: 0.25em;
  margin-right: 0.25em; }

.sali-header-titles {
  display: inline-block !important;
  vertical-align: middle;
  line-height: 0; }

.sali-header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.6em; }

.sali-header h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal; }

.sali-header .breadcrumb div {
  display: inline-block !important;
  color: #282828 !important; }

.sali-header .breadcrumb div a {
  color: white !important; }

.sali-header .breadcrumb div a:hover {
  color: #b5d0ec !important; }

.sali-header .breadcrumb div i {
  color: #e0e1e2 !important; }

.sali-header-left {
  line-height: 100px;
  position: relative;
  display: inline-block !important; }

.sali-header-right {
  float: right;
  position: relative;
  line-height: 100px; }

.sali-menu {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  vertical-align: middle !important;
  height: 52px !important;
  background-color: #e0e1e2 !important;
  z-index: 1 !important;
  box-shadow: none !important;
  border-width: 0 !important;
  padding: 0 !important; }

.sali-menu h1 {
  margin-left: 16px;
  line-height: 52px;
  font-size: 14pt;
  font-weight: normal;
  letter-spacing: 1pt;
  vertical-align: middle !important; }

.sali-menu > .item:not(.active):hover {
  background-color: #b5d0ec !important; }

.sali-menu .menu {
  padding: 0 0 0 0 !important; }

.sali-menu .menu .item {
  padding: 0 0 0 0 !important; }

.sali-menu .buttons {
  margin: -1px -1px 0 0 !important;
  padding: 0 0 0 0 !important;
  min-width: 250px !important; }

.sali-menu button {
  margin: -1px -1px 0 0 !important;
  height: 52px !important;
  border-radius: 0 0 0 0 !important; }

.sali-content {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background-color: white !important;
  padding: 32px; }

.sali-segment {
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  margin-bottom: 32px; }

.sali-segment h1 {
  margin: 0;
  padding-left: 8px;
  padding-bottom: 8px;
  font-weight: normal;
  font-size: 1.5em; }

.sali-section {
  margin-top: 32px; }

.sali-section-inner {
  padding: 16px;
  background-color: white;
  border-width: 1px;
  border-color: #e0e1e2;
  border-style: solid;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 25px -10px #cfcfcf; }

.resource-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: center;
  background: white;
  min-height: 100px;
  box-shadow: 0 0 20px -5px #e0e1e2; }

.resource-list-item > i {
  margin-left: 32px;
  margin-right: 16px; }

.resource-list-item-content {
  margin-top: 16px;
  margin-bottom: 16px;
  flex-grow: 1;
  min-width: 0;
  flex-direction: column; }

.resource-list-item-content > h1 {
  margin: 0;
  font-size: 1.6em;
  overflow: hidden;
  text-overflow: ellipsis; }

.resource-list-item-content > p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis; }

.resource-list-buttons {
  display: flex;
  padding: 16px;
  margin-right: 8px; }

.resource-list {
  margin-top: 32px; }

.parent-resource-box {
  width: 100%;
  margin-top: 4px; }

.resource-item-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.vertical-root-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

.horizontal-root-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  width: 100%; }

.resource-bottom-box {
  display: flex; }

.root-piece-base {
  display: flex;
  width: 40px;
  height: 100px; }

.root-piece-basic {
  display: flex;
  flex-grow: 1; }

.root-piece-t-left, .root-piece-t-right, .root-piece-l-top, .root-piece-l-bottom, .root-piece-i {
  border-width: 0;
  border-style: solid;
  border-color: #2185D0;
  opacity: 0.5; }

.root-piece-t-left {
  width: 55%;
  border-right-width: 2px; }

.root-piece-t-right {
  width: calc(100% - 55%);
  height: 50%;
  border-bottom-width: 2px; }

.root-piece-l-top {
  width: 55%;
  height: 50%;
  border-right-width: 2px; }

.root-piece-l-bottom {
  width: calc(100% - 55%);
  height: 50%;
  border-bottom-width: 2px; }

.root-piece-i {
  width: 55%;
  border-right-width: 2px; }
