// Constants
$menu-height: 52px;
$max-width: 1020px;
$min-width: 600px;
$sali-header-height: 128px;
$sali-header-content-height: 100px;

// Colours
$primary-color: 1px solid #D4D4D5;
$menu-background-color: #e0e1e2;
$button-hover-background-color: #b5d0ec;

// Enforce Content Box has the values that we want it to have
.contentBox {
    padding: 20px 20px 20px 20px !important;
    padding-top: 60px !important;
    height: 100% !important;
    margin-top: 0px !important;
    box-sizing: border-box !important;
}

// Remove Button Icon Shading
button i {
    background: none !important;
    background-color: none !important;
}
.button i {
    background: none !important;
    background-color: none !important;
}
// Off set button text to appear centred
.ui.labeled.icon.button {
    padding-left: 38px !important;
}

// Sali Container
.sali-container {
    max-width: $max-width !important;
    min-width: $min-width !important;
    margin: 0 auto !important;
    border-radius: 4px !important;
    background-color: white !important;
    box-shadow: 0 0 20px -10px #282828;
}

// Sali Header
.sali-header {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    position: relative;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    height: $sali-header-height;
    background-color: $primary-color;
    color: white;
}
.sali-header-content {
    position: absolute;
    padding-left: 16px;
    padding-right: 16px;
    height: $sali-header-content-height;
    width: 100%;
    z-index: 1 !important;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary-color;
}
.sali-header i {
    display: inline-block !important;
    margin-left: 0.25em;
    margin-right: 0.25em;
    // position:relative !important;
    // line-height: $sali-header-content-height !important;
}
.sali-header-titles {
    // position: absolute;
    // top: 50%;
    // transform: translateY(-70%);

    display: inline-block !important;
    vertical-align: middle;
    line-height: 0;
}
.sali-header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
}
.sali-header h2 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
}
.sali-header .breadcrumb div {
    display: inline-block !important;
    color: #282828 !important;
}
.sali-header .breadcrumb div a {
    color: white !important;
}
.sali-header .breadcrumb div a:hover {
    color: $button-hover-background-color !important;
}
.sali-header .breadcrumb div i {
    color: $menu-background-color !important;
}
.sali-header-left {
    line-height: $sali-header-content-height;
    position: relative;
    display: inline-block !important;
}
.sali-header-right {
    float: right;
    position: relative;
    line-height: $sali-header-content-height;
}

// Sali Menu
.sali-menu {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    vertical-align: middle !important; // doesn't fix Menu>Dropdown issue
    height: $menu-height !important;
    background-color: $menu-background-color !important;
    z-index: 1 !important;
    box-shadow: none !important;
    border-width: 0 !important;
    padding: 0 !important;
}
.sali-menu h1 {
    margin-left: 16px;
    line-height: $menu-height;
    font-size: 14pt;
    font-weight: normal;
    letter-spacing: 1pt;
    vertical-align: middle !important;
}
.sali-menu>.item:not(.active):hover {
    background-color: $button-hover-background-color !important;
}
.sali-menu .menu {
    padding: 0 0 0 0 !important;
}
.sali-menu .menu .item {
    padding: 0 0 0 0 !important;
}
.sali-menu .buttons {
    margin: -1px -1px 0 0 !important;
    padding: 0 0 0 0 !important;
    min-width: 250px !important;
}
.sali-menu button {
    margin: -1px -1px 0 0 !important;
    height: $menu-height !important;
    border-radius: 0 0 0 0 !important;
}

// Sali Content
.sali-content {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background-color: white !important;
    // padding-top: 32px;
    // padding-bottom: 32px;
    padding: 32px;
}

// Sali Segment
.sali-segment {
    // background-color: red;
    // border-bottom-width: 1px;
    // border-bottom-color: #dfdfdf;
    // border-bottom-style: solid;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 4px;
    margin-bottom: 32px;
}
.sali-segment h1 {
    margin: 0;
    padding-left: 8px;
    padding-bottom: 8px;
    font-weight: normal;
    font-size: 1.5em;
}

// Sali Section
.sali-section {
    margin-top: 32px;
}
.sali-section-inner {
    padding: 16px;
    background-color: white;
    border-width: 1px;
    border-color: rgb(224, 225, 226);
    border-style: solid;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 25px -10px rgb(207, 207, 207);
}

// Resource List Item
$resource-item-height: 100px;
.resource-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;

    background: white;
    min-height: $resource-item-height;
    box-shadow: 0 0 20px -5px rgb(224, 225, 226);
}
.resource-list-item>i {
    margin-left: 32px;
    margin-right: 16px;
}
.resource-list-item-content {
    margin-top: 16px;
    margin-bottom: 16px;
    flex-grow: 1;
    min-width: 0;
    flex-direction: column;
}
.resource-list-item-content>h1 {
    margin: 0;
    font-size: 1.6em;
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
}
.resource-list-item-content>p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.resource-list-buttons {
    display: flex;
    padding: 16px;
    margin-right: 8px;
}

// Root Formatting
.resource-list {
    margin-top: 32px;
}
.parent-resource-box {
    width: 100%;
    margin-top: 4px;
}
.resource-item-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.vertical-root-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.horizontal-root-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 100%;
}
.resource-bottom-box {
    display: flex;
}

// Root pieces
.root-piece-base {
    display: flex;
    width: 40px;
    height: $resource-item-height;
}
.root-piece-basic {
    display: flex;
    flex-grow: 1;
}
$root-border-width: 2px;
$root-offset: 55%;
%root-piece-border {
    border-width: 0;
    border-style: solid;
    border-color: $primary-color;
    opacity: 0.5;
}
.root-piece-t-left {
    @extend %root-piece-border;
    width: $root-offset;
    border-right-width: $root-border-width;
}
.root-piece-t-right {
    @extend %root-piece-border;
    width: calc(100% - #{$root-offset});
    height: 50%;
    border-bottom-width: $root-border-width;
}
.root-piece-l-top {
    @extend %root-piece-border;
    width: $root-offset;
    height: 50%;
    border-right-width: $root-border-width;
}
.root-piece-l-bottom {
    @extend %root-piece-border;
    width: calc(100% - #{$root-offset});
    height: 50%;
    border-bottom-width: $root-border-width;
}
.root-piece-i {
    @extend %root-piece-border;
    width: $root-offset;
    border-right-width: $root-border-width;
}