@media screen,
projection,
tv,
handheld {
    .print-link-url,
    #qg-coa img.print-version,
    .print-version,
    #site-name img.print-version {
        display: none;
    }
}

.app-banner a {
    color: #080808;
}

.break-word {
    word-break: break-word;
}


/* Bypass Blocks */

.visually-hidden {
    clip: rect(1px 1px 1px 1px);
    /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    margin: -1px;
}


/*
 * For `.visually-hidden` elements that should be visible when it gains focus.
 */

.visible-when-focused:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static;
    white-space: normal;
    width: auto;
    margin: auto;
}


/*
 * Style for "Skip Navigation" type links.  Should have an href linked to 
 * a `.bypass-block-target` element.
 */

.bypass-block-link {
    position: absolute;
    text-decoration: none;
    background: #ffffcc;
    padding: 0.2em;
    z-index: 10;
}


/*
 * We don't want the `.bypass-block-target` to have an outline on *just* focus,
 * since this will look strange if regular users click inside this element,
 * since it will look like it was tabbed into
 */

.bypass-block-target:focus {
    outline: none;
}


/*
   * We do, however, want the `.bypass-block-target` to have an outline when
   * it has focus and it is the target of the document (i.e. the hash tag of the
   * document URL is the same as the "Skip Nav" link).
   * 
   * Note that this style is the same as the focus state on all the tabbable 
   * elements.  It doesn't have to be.  WCAG 2.4.7 — Focus Visible (Level AA) 
   * only requires that the focus state is visible, so you can have, say, the 
   * focus state of a button different than that of a form element. 
   */
   /* [tabindex="0"]:focus,
   [tabindex="1"]:focus,
   a:focus,
   button:focus, */


.bypass-block-target:focus:target,
[tabindex="0"]:focus,
[tabindex="1"]:focus,
a:focus,
input:focus {
    outline: solid 1px orange;
}

/* Semantic has encoding bug/issue display for <LIST> - Bullet in Chrome. Adding custom Bullet list css as workaround */

ul,
li {
    list-style-type: disc !important;
    padding-left: 1.25rem;
}

li:last-child {
    border: none;
}

li a {
    text-decoration: none;
    color: #4183C4;
    display: block;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
    font-size: 16px;
    background: #f7f7f7;
}


/* MODELd Application specific customisations */

#cancelUploadButton {
    display: inline;
}

.MODELd-ui.inputs,
.MODELd-ui.button {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.MODELd-ui.inputs .field {
    margin: 0px 0px 0px 0px;
    border-left-width: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: table-cell;
}

.MODELd-ui.inputs .button {
    display: inline;
}

.MODELd-ui.inputs .react-datepicker__input-container {
    width: 100%;
    /* react datepickers usually have a small width, we want them to be 100% width so they span the entire screen in mobile dimensions */
}

.MODELd-ui.inputs .field:first-child {
    margin-left: 0px
}

.MODELd-ui.inputs .field:not(:last-child) input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.MODELd-ui.inputs .field:not(:first-child) input {
    border-left-width: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* End of MODELd Application specific customisations */