.image-slide {
    /* height: 100% !important; */
    width: 100% !important;
    height: 70vh !important;
    transition: background-image .3s ease-in-out;
    background-size: "cover" !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100%;
}

.slide-arrow {
    color: rgb(4, 71, 51);
    cursor: pointer;
    font-size: 2rem;
    /* position: fixed; */
    /* top: 50%; */
}

.slide-arrow.right {
    /* right: 1rem; */
    text-align: left;
    padding: 0px;
}

.slide-arrow.left {
    text-align: right;
    padding: 0px;
}