/* Semantic UI Customisation
  Discuss option of addinging individual ../dist/semantic-ui/?.css component classes
  This provides customisation at the component level and override sections
  Would have to check/ensure that webpack packages up the bundle to include
  these changes
*/

.ui.menu {
    margin: 0 0 0 0;
    border-radius: 0rem;
}

li a {
    /* background-color: #ffffff; */
    color: #0000ff;
}

a {
    /* background-color: #ffffff; */
    color: #0000ff;
}

.ui.breadcrumb a {
    /* background-color: #ffffff; */
    color: #0000ff;
}


/* #FF530D // #DC143C=Crimson // #000080=Navy  */


/* rgb(255, 83, 13); */

.ui.fluid.compact.menu.salibanner {
    background-Color: #FF743D;
    color: #0F0F0F;
}

.ui.menu .header.item,
.ui.vertical.menu .header.item {
    background-color: #FF743D;
    color: #0F0F0F;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0rem;
}

.ui.sidebar {
    overflow: visible !important;
}

.ui.stackable.menu .right.item,
.ui.stackable.menu .right.menu {
    padding: 0px;
}

.ui.stackable.menu .right>a {
    color: rgba(0, 0, 0, .87) !important;
    margin-left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

#salimenugroupname {
    border: 0 solid transparent !important;
    background: #1B1C1D !important;
    color: rgba(255, 255, 255, .9) !important;
    box-shadow: none;
    padding-left: 2px;
    padding-top: 3px;
    padding-bottom: 2px;
    border-radius: 0rem;
}


/* Footer enhacements */

.ui.inverted.darkblue.segment {
    background-color: #202B40 !important;
    color: #fff !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.ui.section.divider {
    margin-top: 0;
    margin-bottom: 0;
}

.ui.divided.horizontal.list {
    margin-top: 0;
}

.ui.footer.divided.inverted.horizontal.list>p {
    margin: 1.4em 0;
    font-weight: 900;
    /* background: #fff; */
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: 900;
    /* padding: 1em 1em 4em; */
    font-size: 0.4rem;
}

.ui.divided.horizontal.list>.item:first-child {
    border: none !important;
    border-left: none !important;
}

.ui.footer.divided.inverted.horizontal.list>.item,
.ui.divided.inverted.list>.item,
.ui.divided.inverted.list>.list {
    border-left: solid 0.1em #fff !important;
}

.ui.footer.inverted.link.list .item,
.ui.inverted.link.list .item a:not(.ui),
.ui.inverted.link.list a.item {
    color: #fff;
}

.ui.footer.inverted.link.list .item a:not(.ui):hover,
.ui.inverted.link.list a.item:hover {
    color: rgba(255, 255, 255, 0.5);
}

.ui.divided.horizontal.list {
    margin-top: 1em;
    color: #FFF!important;
}

.ui.vertical.segment {
    background: whitesmoke;
}


/* End of Footer enhacements */


/* Don't center-align checkboxes */

.ui.form input[type=checkbox] {
    flex: none;
}


/* Button sizes */

@media (max-width: 1250px) {
    .ui.small.button {
        font-size: .7rem;
        width: 70px;
    }
}

@media (min-width: 1250px) {
    .ui.small.button {
        width: 80px;
    }
}


/* Switch to vertical layout earlier */

@media only screen and (max-width: 1100px) {
    .ui.container {
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
}

@media only screen and (max-width: 1100px) {
    .ui.stackable.grid {
        width: auto;
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
}