* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    --space: 1.5em 0;
    --space: 2em 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    line-height: 1.5;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    position: relative;
    /* The html and body elements cannot have any padding or margin. */
}

.App {
    text-align: left;
}

#Sali-App {
    display: flex;
    flex-direction: column;
}

#Sali-Content {
    flex: 1 0 auto;
    min-height: 100vh;
    /* will cover 100% of viewport */
    padding: var(--space) var(--space) 0;
    width: 100%;
}

#Sali-Content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

#saliBrand {
    background-color: crimson;
}

#saliBrand>.item {
    color: white;
}

#saliLogin {
    overflow: visible;
}

#Main {
    padding: 5px;
    min-height: "100vh"
}